body {
  background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 0.6) 0%,
      rgba(21, 79, 225, 0.5) 100%
    )
    no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Dictionary {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

p.easter-egg{ 
  color: rgba(0, 0, 0, 0.4);
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0px 0px 0px;
    font-size: 15px;
}
.textbox {
  max-width: 400px;
  margin: 0px;
  border: 1px solid;
  font-family: 'Prata', serif;
}

input.textbox.form-control.form-control-lg {
  display: inline-block;
}

div.form-group {
  padding: 70px 0px 30px;
}

/* media queries */
@media (max-width: 900px) {
  .textbox {
    max-width: 600px;
    margin: 0px;
    border: 1px solid;
    font-family: 'Prata', serif;
  }
  
  input.textbox.form-control.form-control-lg {
    font-size: 12px;
    padding: 4px 8px;
  }
}