

body {
  background: linear-gradient(0deg, rgba(34,193,195,.6) 0%, rgba(21, 79, 225, 0.5) 100%) no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Dictionary {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.textbox {
  max-width: 355px;
  margin: 0px;
border: 1px solid;
}

input.textbox.form-control.form-control-lg {
  display: inline-block;
}

div.form-group {
  padding: 70px 0px 30px;
}