.Dictionary {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.textbox {
  max-width: 355px;
  margin: 0px;
}

input.textbox.form-control.form-control-lg {
  display: inline-block;
}

div.form-group {
  padding: 70px 0px 30px;
}